body {
    /* font-size: 48px;
    text-align: center;
    font-family: Arial, sans-serif; */
    background-color: #00fff2;
}

#login {
    display: none;
}

#email {
    size: 30;
}

#password {
    size: 30;
}

#loginBtn {

}

#loginerr {
    color:red;
}

#app {
    display: none;
}

#availabilty {
    display: none;
}

#releaseBtn {
    display: none;
    margin-bottom: 20px;
    margin-right: 20px;
}

#punishBtn {
    display: none;
    margin-bottom: 20px;
}

#punish {
    display: none;
}

#time {
    size: 30;
}

#okBtn {
    margin-bottom: 10px;
}

#cancelBtn {
    margin-bottom: 20px;
}

#refreshBtn  {

}

#logoutBtn {

}

#alarm {
    display: none;
}